{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div style="color:white">

        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword,{"label":'Mot de passe'}) }}

        <button class="btn" style="color:white">Inscription</button>
        {{ form_end(registrationForm) }}

    </div>

{% endblock %}
